@font-face {
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

header, main p {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
}

label {
    font-size: 0.7rem;
}